<div class="min-h-screen bg-slate-900 text-slate-200 font-mono flex flex-row">

  <div class="flex-grow flex flex-col min-w-0 bg-[#1e1e1e]">

    <!-- Editor Tabs + Toolbar -->
    <div class="flex bg-[#252526] border-b border-[#1e1e1e] justify-between items-center pr-2 justify-end py-2">

      <button (click)="run()" [disabled]="hasChanges()" class="text-gray-400 hover:text-white p-1 rounded hover:bg-[#333]" title="Run Program">
        <mat-icon svgIcon="play"></mat-icon>
      </button>

      <button (click)="debug()" [disabled]="hasChanges()" class="text-gray-400 hover:text-white p-1 rounded hover:bg-[#333]" title="Debug Program">
        <mat-icon svgIcon="bug-play"></mat-icon>
      </button>

      @if (isRunning()) {
        <button (click)="stop()" class="text-gray-400 hover:text-white p-1 rounded hover:bg-[#333]" title="Reset CPU">
          <mat-icon svgIcon="stop"></mat-icon>
        </button>

        @if (isDebugMode()) {
          <button (click)="stepForward()" class="text-gray-400 hover:text-white p-1 rounded hover:bg-[#333]" title="Step Instruction">
            <mat-icon svgIcon="debug-step-over"></mat-icon>
          </button>
        }

      } @else {
        <button (click)="build()" class="text-gray-400 hover:text-white p-1 rounded hover:bg-[#333]" title="Build Program">
          <mat-icon svgIcon="hammer"></mat-icon>
        </button>
      }
    </div>

    <app-code-editor #codeEditor [(content)]="editorContent" (contentChange)="contentChange()"></app-code-editor>

    <div class="h-40 bg-[#1e1e1e] border-t border-[#333] flex flex-col">
      <div class="flex text-[11px] uppercase border-b border-[#333] select-none bg-[#1e1e1e]">
<!--        <div class="px-4 py-1 text-gray-500 hover:text-gray-300 cursor-pointer">Problems</div>-->
        <div class="px-4 py-1 text-white border-b border-white cursor-pointer bg-[#1e1e1e]">Output</div>
<!--        <div class="px-4 py-1 text-gray-500 hover:text-gray-300 cursor-pointer">Debug Console</div>-->
<!--        <div class="px-4 py-1 text-gray-500 hover:text-gray-300 cursor-pointer">Terminal</div>-->
      </div>
      <div id="console-output" class="flex-grow p-2 font-mono text-xs overflow-y-auto text-gray-300">
        @for (entry of logEntries(); track entry) {
          <div class="mb-0.5">
            <span
            class="text-green-500 mr-2"
            [ngClass]="{
              'text-red-500': entry.type === 'error',
              'text-yellow-500': entry.type === 'warn',
              'text-green-500': entry.type === 'info'
            }"
            >[{{entry.type | uppercase}}]</span>{{entry.msg}}</div>
        }
      </div>
    </div>
  </div>

  @if (processorService.cpu(); as state) {
    <!-- RIGHT SIDEBAR (Debug) -->
    <div class="w-64 bg-[#252526] border-l border-[#1e1e1e] flex flex-col text-xs overflow-hidden">
      <div class="overflow-y-auto flex-grow">
        <div class="mt-2">
          <div class="px-2 py-1 font-bold text-gray-300 flex items-center cursor-pointer hover:bg-[#2a2d2e] select-none group">
            REGISTERS
          </div>
          <div id="registers-list">
            <div class="px-4 py-0.5 flex justify-between group hover:bg-[#2a2d2e] cursor-pointer">
              <span class="text-[#9cdcfe]">ACC</span>
              <span class="text-[#b5cea8] font-mono"><span class="text-gray-500 me-2">({{formatBin(state.acc)}})</span> {{state.acc}}</span>
            </div>
            <div class="px-4 py-0.5 flex justify-between group hover:bg-[#2a2d2e] cursor-pointer">
              <span class="text-[#9cdcfe]">PC</span>
              <span class="text-[#ce9178] font-mono">{{state.pc}}</span>
            </div>
          </div>
        </div>



        <!-- FLAGS -->
        <div class="mt-4">
          <div class="px-2 py-1 font-bold text-gray-300 flex items-center cursor-pointer hover:bg-[#2a2d2e] select-none">
            FLAGS
          </div>
          <div class="px-4 py-1 flex gap-2" id="flags-container">
            <span
              class="px-1.5 rounded text-[10px] font-bold transition-all"
              title="Zero Flag"
              [ngClass]="state.flags.z? 'bg-[#264f78]' : ''"
            >Z</span>
            <span
              class="px-1.5 rounded text-[10px] font-bold transition-all"
              title="Carry Flag"
              [ngClass]="state.flags.c? 'bg-[#785406]' : ''"
            >C</span>
            <span
              class="px-1.5 rounded text-[10px] font-bold transition-all"
              title="Negative Flag"
              [ngClass]="state.flags.n? 'bg-[#781212]' : ''"
            >N</span>

          </div>
        </div>

        <!-- MEMORY -->
        <div class="mt-4">
          <div class="px-2 py-1 font-bold text-gray-300 flex items-center cursor-pointer hover:bg-[#2a2d2e] select-none">
            INSTRUCTION MEMORY
          </div>
          <div id="memory-list" class="grid grid-cols-1 font-mono text-[10px]">
            @for (entry of processorService.readInstructionRam(); track i; let i = $index) {
              <div class="px-4 py-0.5 flex gap-2 hover:bg-[#2a2d2e] cursor-pointer"
                   [ngClass]="this.processorService.cpu().pc == i ? 'bg-[#37373d]' : ''"
              >
                <span class="text-gray-500 w-4">{{i}}</span>
                <span class="text-[#b5cea8]">{{formatBin(entry)}}</span>
                <span class="text-[#4ec9b0] ml-auto">{{entry}}</span>
              </div>
            }
          </div>
        </div>

        <div class="mt-4">
          <div class="px-2 py-1 font-bold text-gray-300 flex items-center cursor-pointer hover:bg-[#2a2d2e] select-none">
            DATA MEMORY
          </div>
          <div id="memory-list" class="grid grid-cols-1 font-mono text-[10px]">
            @for (entry of processorService.readDataRam(); track i; let i = $index) {
              <div class="px-4 py-0.5 flex gap-2 hover:bg-[#2a2d2e] cursor-pointer"
                   [ngClass]="processorService.cpu().pc == i ? 'bg-[#37373d]' : ''"
              >
                <span class="text-gray-500 w-4">{{i}}</span>
                <span class="text-[#b5cea8]">{{formatBin(entry)}}</span>
                <span class="text-[#4ec9b0] ml-auto">{{entry}}</span>
              </div>
            }
          </div>
        </div>
      </div>
    </div>
  }
</div>
