@use "tailwindcss";

html,
body,
app-root {
  height: 100%;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
  color: var(--app-foreground);
  background: #fafafa;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
